
@{
    ViewBag.Title = "อบรมวิชาการ เรื่องประชาคม Asean";
}

<div class="container">
    <div class="blog-header">
        <h2 class="blog-title">อบรมวิชาการ เรื่องประชาคม Asean</h2>
        <p class="blog-post-meta">สถานที่: มหาวิทยาลัยศรีปทุม วิทยาเขตชลบุรี</p>
    </div>
    <div class="row">
        <div class="blog-main">
            <div class="blog-post">
                <img src="~/Images/asean/DSC_7465.jpg" width="400" height="264" /><br /><br />
                <h4>สมาคมประชาชาติแห่งเอเชียตะวันออกเฉียงใต้(Association of Southeast Asian Nations)</h4>
                <p><strong>การจัดตั้ง</strong></p>
                <p>
                    สมาคม ประชาชาติแห่งเอเชียตะวันออกเฉียงใต้หรือ อาเซียน ได้รับการจัดตั้งขึ้นในวันที่ 8 สิงหาคม 2510 ณ วังสราญรมย์ ในกระทรวงการต่างประเทศ กรุงเทพมหานคร โดยมีประเทศสมาชิกเริ่มแรก 5 ประเทศ คือ อินโดนีเซีย มาเลเซีย ฟิลิปปินส์ สิงคโปร์ และไทย ต่อมา บรูไน ดารุสซาลามได้เข้าร่วมเป็นสมาชิกในวันที่ 8 มกราคม 2527 เวียดนามได้เข้าร่วมเมื่อวันที่ 28 กรกฎาคม 2538 ลาวและพม่าเข้าร่วมเมื่อวันที่ 23 กรกฎาคม 2540 และกัมพูชาเมื่อวันที่ 30 เมษายน 2542
                </p>
                <img src="~/Images/asean/DSC_7460.jpg" width="400" height="393" /><br /><br />
                <p>
                    ภูมิภาคอาเซียนนั้น ประกอบด้วยประชากรประมาณ 567 ล้านคน มีพื้นที่โดยรวม 4.5 ล้านตารางกิโลเมตร ผลิตภัณฑ์มวลรวมประชาชาติประมาณ 1,100 พันล้านดอลลาร์ และรายได้โดยรวมจากการค้าประมาณ 1.4 ล้านล้านดอลลาร์ (สถิติในปี 2550)
                </p>
                <img src="~/Images/asean/DSC_7461.jpg" width="400" height="365" /><br /><br />
                <img src="~/Images/asean/DSC_7463.jpg" width="400" height="386" /><br /><br />
                <p><strong>วัตถุประสงค์</strong></p>
                <p>
                    ปฏิญญา อาเซียน (The ASEAN Declaration) ได้ระบุว่า เป้าหมายและจุดประสงค์ของอาเซียน คือ 1) เร่งรัดการเจริญเติบโตทางเศรษฐกิจ ความก้าวหน้าทางสังคมและการพัฒนาวัฒนธรรมในภูมิภาค และ 2) ส่งเสริมสันติภาพและเสถียรภาพในภูมิภาค โดยการเคารพหลักความยุติธรรมและ  หลักนิติธรรมในการดำเนินความสัมพันธ์ระหว่างประเทศในภูมิภาค ตลอดจนยึดมั่นในหลักการแห่งกฎบัตรสหประชาชาติ
                </p>
                <img src="~/Images/asean/DSC_7464.jpg" width="400" height="383" /><br /><br />
                <p>
                    ในโอกาสครบรอบ 30 ปีของการก่อตั้งอาเซียน ในปี 2540 (ค.ศ.1997) ผู้นำของประเทศสมาชิกอาเซียนได้รับรอง “วิสัยทัศน์อาเซียน 2020” (ASEAN Vision 2020) โดยเห็นพ้องกันในวิสัยทัศน์ร่วมของอาเซียนที่จะเป็นวงสมานฉันท์ในภูมิภาค ตะวันออกเฉียงใต้ ต้องการมีปฏิสัมพันธ์กับภายนอก การใช้ชีวิตในสภาพที่มีสันติภาพ เสถียรภาพ และความเจริญรุ่งเรือง ผูกมัดกันเป็นหุ้นส่วนในการพัฒนา ที่มีพลวัตและในประชาคมที่มีความเอื้ออาทรระหว่างกัน
                </p>
                <img src="~/Images/asean/DSC_7468.jpg" width="400" height="392" /><br /><br />
                <p>
                    ปี 2546 ผู้นำอาเซียนได้เห็นพ้องกันที่จะจัดตั้งประชาคมอาเซียนที่ประกอบด้วย 3 เสาหลัก อันได้แก่ ประชาคมการเมืองและความมั่นคงอาเซียน (ASEAN Political-Security Community–ASC) ประชาคมเศรษฐกิจอาเซียน (ASEAN Economic Community-AEC) และประชาคมสังคม-วัฒนธรรมอาเซียน (ASEAN Socio-Cultural Community-ASCC) ภายในปี 2563 ต่อมา ในการประชุม สุดยอดอาเซียน ครั้งที่ 12 ที่เมืองเซบู ฟิลิปปินส์ ผู้นำประเทศอาเซียนตกลงที่จะเร่งรัดกระบวนการสร้างประชาคมอาเซียนให้แล้ว เสร็จภายในปี 2558
                </p>
                <img src="~/Images/asean/DSC_7470.jpg" width="400" height="385" /><br /><br />
                <img src="~/Images/asean/DSC_7471.jpg" width="400" height="264" /><br /><br />
            </div>
        </div>
    </div>
</div>