
@{
    ViewBag.Title = "รำกลองยาว";
}

<div class="container">
    <div class="blog-header">
        <h2 class="blog-title">รำกลองยาว</h2>
        <p class="blog-post-meta">สถานที่: Central Plaza Chonburi </p>
    </div>
    <div class="row">
        <div class="blog-main">
            <div class="blog-post">
                <p>
                    บรรยากาศงาน"นิเทศ นิทรรศ ศรีปทุมชลบุรี ครั้งที่ 2 " ณ ศูนย์การค้าเซ็นทรัลพลาซ่า ชลบุรี ชั้น1 ซึ่งมีกิจกรรมต่างๆ อาทิ การแสดงเต้น COVER ,การจัดประกวด DJ , การแสดงผลงานต่างๆของนักศึกษา , การร้องคาราโอเกะชิงรางวัล รวมไปถึง การแสดงดนตรี SPUC โฟลค์ซอง ของนักศึกษาคณะนิเทศศาสตร์ มหาวิทยาลัยศรีปทุม วิทยาเขตชลบุรี พร้อมทั้งข้อมูลการศึกษาต่อทั้งป.ตรี-ป.โท ซึ่งจัดขึ้นเมื่อวันที่15-17 พ.ค.55 ที่ผ่านมา
                </p>
                <img src="~/Images/dump/DSC_4945.jpg" width="400" height="264" /><br /><br />
                <img src="~/Images/dump/DSC_7671.jpg" width="400" height="264" /><br /><br />
                <img src="~/Images/dump/DSC_4947.jpg" width="264" height="400" /><br /><br />
                <img src="~/Images/dump/DSC_7808.jpg" width="400" height="264" /><br /><br />
                <img src="~/Images/dump/DSC_7794.jpg" width="400" height="264" /><br /><br />
            </div>
        </div>
    </div>
</div>