
@{
    ViewBag.Title = "กลยุทธ์การตลาดด้วย Location Based";
}

<div class="container">
    <div class="blog-header">
        <h2 class="blog-title">กลยุทธ์การตลาดด้วย Location Based</h2>
        <p class="blog-post-meta">สถานที่: ห้อง Auditorium ศูนย์การประชุมแห่งชาติสิริกิต์ </p>
    </div>
    <div class="row">
        <div class="blog-main">
            <div class="blog-post">
                <img src="~/Images/location-based/DSC_5974.jpg" width="400" height="264" /><br /><br />
                <p>
                    เรื่องที่กำลังฮอตอยู่ตอนนี้สำหรับ การตลาด 3.0   Marketing 3.0   คือการทำ Location Based Marketing ซึ่งไม่ใช่เรื่องใหม่อะไร แต่เป็นเรื่องเดียวกับ Localized Marketing คือการทำการตลาดท้องถิ่น หรือ ณสาขาที่เราต้องการให้ลูกค้าเข้าไป แวะเยี่ยมร้าน หรือ สาขาของเราเยอะ ๆ  ไม่ว่าเราเป็น  ร้านอาหาร  ร้านกาแฟ  ร้านแฟชั่น  ร้านขายหนังสือ  ร้านเครื่องใช้ไฟฟ้าร้านค้าปลีกของเรา  พูดง่ายๆคือหน้าร้าน ของเรา  หรือกรณีเราจัด Event เราต้องการให้คนไปร่วมแจม มากๆ  ไม่ว่าเป็น  คอนเสริต์   แฟชั่นโชว์  ลานเบียร์   งานแสดง   งานสัปดาห์หนังสือ    เราก็จะก็มีกิจกรรมดึงดูดคนไป    ทั้งดารา  นักแสดง    และที่สำคัญคือ  Promotion จูงใจลูกค้าที่เข้าไป Check-in   กลไกที่สำคัญของมันคือ ต้องมีการ Check-in  ในระบบ  เมื่อก่อนเข้าร้าน หรือเข้างาน เราจะมีการให้ลูกค้าลงทะเบียน  คราวนี้ถ้าเป็นยุคน้องโบ  ก็ต้องตั้งโต๊ะลงทะเบียนกัน   แต่ในยุค Marketing  3.0  นี้จะมีเครื่องมือ ทางเทคโนโลยี  ไม่ว่าจะCheck-in ผ่าน Facebook Place  หรือ  Foursquare  ถ้าท่านมีมือถือ iPhone หรือ iPad  พอเข้า  Facebook  ด้านขวาบนจะมีคำว่า  Check-in   กดลงไปจะมีสถานที่บอก พร้อมพิกัดของคุณ
                </p>
                <img src="~/Images/location-based/DSC_5995.jpg" width="400" height="264" /><br /><br />
                <p>
                    ซึ่งรวมถึง FourSquare ที่เป็นตัวทำให้คุณ เข้าCheck-in ในสถานที่ต่างๆได้ที่เขาเคยลงใน  Google Map โดยคุณเข้าไปใช้ในส่วนของ Business  และ claim การเป็นเจ้าของ สถานที่นั้นๆ  คุณก็สามารถให้ Special Offer กับคนหรือลูกค้าที่เข้ามา Check-in กับร้านคุณได้เลย   สรุปขั้นตอนที่คุณต้องทำ คือ ลงตำแหน่งธุรกิจคุณใน Google Map  แล้วหาทาง check-in  สถานที่ตั้งของธุรกิจคุณก่อน ถ้ามีในFacebook หรือ Foursquare ก็ใช้ได้  จากนั้นหาทางให้ Special Offer ไม่ว่าจะเป็นส่วนลด ของแถมฟรี  หรือ  Giveawayของที่ระลึก  อะไรก็แล้วแต่  กับลูกค้าคุณ ซึ่งจะมีเงื่อนไขว่าลูกค้าจะต้อง check-in  อย่างไร เช่น10 คนแรกที่check-in เข้างานรับผ้าพันคอฟรี ดังตัวอย่าง  ข้างล่างนี้  ซึ่งเงื่อนไขอาจมี  10 รายแรก  หรือ check-in ครั้งที่  4 รับฟรีอะไร หรือ check-in พร้อมเพื่อน 5 รายมาทานอาหารที่ร้านรับฟรีอะไร หรือ check-in ครบสาขาของเราซึ่งอาจมี 10 แห่งในกรุงเทพฯ  ลูกค้าจะได้รับอะไรพิเศษ  นี่เป็นแค่ตัวอย่างในการนำ การ Check-in ไปใช้
                </p>
                <img src="~/Images/location-based/DSC_6013.jpg" width="264" height="400" /><br /><br />
                <p>
                    Location-Based Marketing จึงถือว่าเป็นเครื่องมือในการเปลี่ยนหรือขยับลูกค้าหรือสาวกใน โซเชียลมีเดียจากแค่มีปฏิสัมพันธ์กับคุณ หรือ Engagement มาเป็น ยอดขาย Purchase ดังมีคนพูดว่าหากคุณมีโซเชียลมีเดีย คุณจะให้ลูกค้าของคุณ Vote By Click  มีการคลิก หรือ like เรื่องของ คุณ  Vote By Feet  คือเดินทางมาเข้าร้านหรืออีเวนท์คุณ  หรือ  Vote by money  คือเอาเงินมาให้คุณ  นี่คือการ Upgrade ลูกค้าของคุณเอง
                </p>
                <img src="~/Images/location-based/DSC_6076.jpg" width="400" height="264" /><br /><br />
            </div>
        </div>
    </div>
</div>