
@{
    ViewBag.Title = "Windows 8 Camp";
}

<div class="container">
    <div class="blog-header">
        <h2 class="blog-title">Windows 8 Hackathon</h2>
        <p class="blog-post-meta">สถานที่: มหาวิทยาลัยอัสสัมชัญ</p>
    </div>
    <div class="row">
        <div class="blog-main">
            <div class="blog-post">
                <p>
                    Microsoft ประเทศไทย ได้จัดงานใหญ่ Microsoft TECHDAYS  Thailand  2012 หรือในอดีตคืองาน Microsoft Technet MSDN นี่เอง  ที่รวมตัวระหว่างกลุ่ม IT Pro และ Developer  มาร่วมเสวนาและเผยเทคนิคเกี่ยวกับการใช้ซอฟต์แวร์ Microsoft ในการพัฒนาโปรแกรม ให้กับนักพัฒนา และคนทำงานระดับองค์กร แต่หนึ่งในไฮไลน์ของงานคือ เผยโฉมความสามารถ Windows 8 ครั้งแรกในไทยในงานนี้
                </p>
                <img src="~/Images/hackathon/DSC_6369.jpg" width="264" height="400" /><br /><br />
                <p>
                    ซึ่งสิ่งที่ผู้เข้าร่วมอบรมต้องเตรียม ได้แก่
                    <ol>
                        <li>ติดตั้งระบบปฏิบัติการ Windows 8 ซึ่งสามารถดาวน์โหลดได้ที่ <a href="http://preview.windows.com" target="_blank">http://preview.windows.com</a></li>
                        <li>ติดตั้ง Visual Studio 11 Beta ซึ่งสามารถดาวน์โหลดได้ที่ <a href="http://go.microsoft.com/fwlink/?linkid=237572&clcid=0×409" target="_blank">http://go.microsoft.com/fwlink/?linkid=237572&clcid=0×409</a> </li>
                        <li>ดาวน์โหลด Lab File สำหรับการอบรม download ที่ <a href="http://sdrv.ms/Win8CampLab" target="_blank">http://sdrv.ms/Win8CampLab</a> </li>
                    </ol>
                </p>
                <img src="~/Images/hackathon/mstech04.jpg" width="400" height="300" /><br /><br />
                <p>
                    คุณสงวน ธรรมโรจน์สกุล  ซึ่งเป็นทีมงาน ของ Microsoft ได้ประกาศกลางงานว่า “ทุกโปรแกรมที่สามารถรันบน Windows 7 ได้ จะสามารถทำงานกับ Windows8 ได้ทุกตัว”
                </p>
                <img src="~/Images/hackathon/mstech05.jpg" width="400" height="300" /><br /><br />
                <p>
                    Windows8 สามารถรันหน้าตาระบบปฏิบัติการทั้ง 2 แบบคือ แบบ Desktop ( เหมือน Windows7 ในปัจจุบัน) และ Metro style  หน้าตาแบบใหม่ ซึ่งเป็นหน้าตา Default หลักของ Windows8  เพื่อรองรับทั้ง Tablet และ Desktop สามารถใช้งานร่วมกันได้  หากแอพที่ว่าเป็นแอพบน Desktop จะรันบน Desktop ของ Windows8 โดยอัตโนมัติ
                </p>
                <p>
                    สำหรับที่มาของหน้าตาระบบปฏิบัติการของ Windows8 ซึ่งเป็นหน้าตาใหม่ที่เราอาจไม่คุ้นเคย ที่เรียกกันว่า Metro Style นั้น Microsoft ระบุวิจัยจากผู้ใช้คนกลุ่มหนึ่ง ว่า “ผมอยากรันคอมพิวเตอร์นี้ โดยทันทีไม่ต้องไปปุ่ม Start นี่เอง”  เพียงแค่พิมพ์ ก็จะ search หาโปรแกรมนั้นทันที ซึ่งการทำงานนี้เร็วมากและรู้ใจผู้ใช้ด้วย
                </p>
                <p>
                    แอพบน Windows8 รองรับการรันแบบ HTML5 ได้ด้วย ดังนั้นใครเป็นนักพัฒนาเว็บหรือนักเขียนเกมด้วย HTML5 เตรียมสร้างเพื่อรอนำมาลงใน Windows8 ได้เลย
                </p>
                <img src="~/Images/hackathon/mstech07.jpg" width="400" height="300" /><br /><br />
                <p>
                    Windows 8 จะมีเวอร์ชั่น ARM ด้วย แต่จะไม่สามารถรันบนแอพเก่าได้
                </p>
                <img src="~/Images/hackathon/mstech08.jpg" width="400" height="300" /><br /><br />
                <p>
                    นี่คือโครงสร้างสถาปัตยกรรมของ Windows8  การพัฒนาแอพบน Windows 8 นั้นมีสองวิธี คือ ภาษาสำหรับพัฒนาแอพทั่วไป เช่นภาษา C, C#, C++, VB และ ภาษา HTML5/CSS/JavaScript ดังนั้นใครพัฒนาเว็บก็สามารถทำเป็นแอพบน Windows8 ได้ด้วย
                </p>
                <p>
                    การออกแบบ Windows8 ครั้งนี้ตอบสนองการใช้งาน Tablet ด้วย ซึ่งรองรับทั้งแบบ Touchscreen และแบบ ปากกา  แต่ Pen กับ Touch  ซึ่งต้องดูที่แอพพลิเคชั่นทำให้ Windows8 ฉลาดมากขึ้น เช่นแอพนี้ สนับสนุนการทำงานด้วยปากกา เครื่องที่รองรับการเขียนด้วยปากกาอิเล็คทรอนิกส์จะทำงานเมื่อนำปากกามา เขียนบนจอเท่านั้น แต่ใช้นิ้วมาเขียนบนจอไม่ได้ เพราะมันจะเข้าใจว่าเอานิ้วแตะเพื่อเลื่อนกระดาษ แต่ถ้าเป็นปากกาเมื่อไหร่จะเขียนได้ วาดได้
                </p>
                <img src="~/Images/hackathon/mstech10.jpg" width="400" height="300" /><br /><br />
                <p>
                    สิ่งที่ Windows8 ออกแบบมาเพื่อรองรับ 4 อย่างคือ Keyboard , Mouse , Touch และ Pen  และรองรับทั้ง Desktop และ Html5 เพื่อตอบโจทย์ทั้ง Lifestyle และ Productivity ที่ในเครื่องเดียวกัน  ไม่ต้องมี Device หลายๆตัว เราก็มีเพียง Tablet Win 8 เครื่องเดียว เวลาจะใช้ทำงานจริงจังก็ต่อคีย์บอร์ด ก็จะสามารถทำงานได้เหมือนเครื่องโน้ตบุ๊คพีซี
                </p>
                <img src="~/Images/hackathon/DSC_6380.jpg" width="400" height="300" /><br /><br />
            </div>
        </div>
    </div>
</div>